Checks: '
    cppcoreguidelines-*,
    readability-*,
    modernize-*,
    boost-*,
    clang-analyzer-*,
    concurrency-*,
    performance-*,
    readbility-*,
    bugprone-*,
    -bugprone-branch-clone,
    -bugprone-reserved-identifier,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-special-member-functions,
    -readability-function-cognitive-complexity,
    -readability-use-anyofallof,
    -performance-inefficient-string-concatenation,
    -bugprone-easily-swappable-parameters,
'